[Unit]
Description=Start Airflow
Wants=wait-for-password.service
After=wait-for-password.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/airflow/airflow.conf
ExecStart=/opt/airflow/scripts/ec2-bootstrap.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target