[Unit]
Description=Wait for Airflow secret to become available
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/airflow/airflow.conf
ExecStart=/opt/airflow/scripts/wait-for-password.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target